html {
    background-color: rgb(218, 218, 218);
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}  


.formulario {
    width: 500px;
    height: 2000px;
    margin: auto;
    background-color: white;
}